<div class="mt-4">
    <h3>Cập nhật khoá học</h3>

    <form class ="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
        <label for="name">Tên khoá học</label>
        <input type="text" class="form-control" value="{{course.name}}" id="description" name="name" >
    </div>
    <div class="form-group">
        <label for="desc">Mô tả</label>
        <textarea class="form-control"  id="desc" name="desc" >{{course.desc}}</textarea>
    </div>
    <div class="form-group">
        <label for="videoID">Video ID</label>
        <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId" >
    </div>
    <div class="form-group">
        <label for="level">Trình độ</label>
        <input type="text" class="form-control" value="{{course.level}}" id="level" name="level" >
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>