<div class="mt-4">
    <h3>
        Khoá học của tôi
    </h3>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khoá học</th>
            <th scope="col">Trình độ</th>
            <th scope="col ">Thời gian tạo</th>
            <th scope="col "></th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                <a type="button" class="btn btn-primary">delete</a>
            </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>